body {
	font-family:sans-serif;
	font-size:14px;
}
#listEditor {
	font-size: 14px;
	font-family: sans-serif;
	line-height:21px;
	width:381px;
	height:600px;
	display:none;
	position:absolute;
	border:none;
	overflow:hidden;
}
.edit-link {
	z-index:10000
}
.editing li {}
.list {
	margin-left:0;
	list-style:none
}
.column {
	min-height:100px;
}
.placeholder {
	background-color:#eef;
	margin-left:0;
	list-style:none;
	margin-bottom:20px;
}

.handle {
	position:absolute;
	left:5px;
	cursor:pointer;
}

/* button css based off of web designer wall*/
.button {
	display: inline-block;
	zoom: 1,
	*display: inline;
	vertical-align:baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight:bold;
	color:#fff;
	font-size:18px;
	padding: .3em 1em .35em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position:relative;
	top:1px;
}

.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	color:#fff !important;
	font-size:11px;
	padding: 0.1em .5em;
}

.blue {
	color: #fff;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.blue:active {
	background: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top, #0078a5, #00adee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* end buttons */
.add-button {
	text-align:center;
	display:none;
}
.hover .add-button {
	display:block;
}
h1 {
	font-family: Georgia, serif;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.2em
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:17px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.4em;
	color:#444;
}
.header {
	background-color:#333;
	color:#65c630;
	height:30px;
	font-size:18px;
	margin-bottom:5px;
}
.menu {
	padding:3px 0px  3px 15px;
	float:left;
	font-family: Georgia, serif;
	font-size:20px;
}
.status {
	padding:3px;
	float: right
}
.marked div {
	text-decoration:line-through
}
li span {
	-moz-user-select: none;
	-webkit-user-select: none;
}
#toolbar {
	display:none;
	position:absolute;
	left:0;
	top:30px;
	height:21px;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0.2px;
	line-height:1.5em;
	padding:0 2px 0 2px;
}
#toolbar a {text-decoration:none; color:#061d3b}
#toolbar ul {margin:0;padding:0;list-style:none}
#toolbar li {
	margin:0;
	float:left;
	margin-right:15px;
}
#color-button {
	background-image:url(images/applications-graphics.png);
	background-repeat:no-repeat;
	background-position:left 2px;
	padding:2px 2px 2px 18px;
}
#delete-button {
	background-image:url(images/edit-delete.png);
	background-repeat:no-repeat;
	background-position:left 2px;
	padding:2px 2px 2px 18px;
}
#toolbar .active {
	background-color:#c0d6ff;
	color:#fff;
}
.active #color-selector {display:block}
#color-selector {
	display:none;
	position:absolute;
	float:right;
	left:2px;
	width:122px;
	height:100px;
	background-color:#c0d6ff;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
}
#color-selector .color-swatch {
	border:1px solid #444;
	height:14px;
	width:14px;
	margin:4px 4px;
	display:block;
}
.color-input {width:122px;text-align:center}
.color-input input {width:68px}
.color-input input[type=button] {width:i20px}

.red {color:#cd170e}
.orange {color:#ffaa00}
.yellow {color:#ffe700}
.green {color:#a8c630}
.pine {color:#59691a}
.seagreen {color:#1a694e}
.turquoise {color:#1ab8cf}
.seafoam {color:#1acfa7}
.green2 {color:#65c630}
.blue {color:#3458a9}
.midnight {color:#122b6e}
.lightblue {color:#37a1ec}
.purple {color:#7b34a9}
.royal {color:#5a34a0}
.plum {color:#540f68}


.red-background {background-color:#cd170e}
.orange-background {background-color:#ffaa00}
.yellow-background {background-color:#ffe700}
.green-background {background-color:#a8c630}
.pine-background {background-color:#59691a}
.seagreen-background {background-color:#1a694e}
.turquoise-background {background-color:#1ab8cf}
.seafoam-background {background-color:#1acfa7}
.green2-background {background-color:#65c630}
.blue-background {background-color:#3458a9}
.midnight-background {background-color:#122b6e}
.lightblue-background {background-color:#37a1ec}
.purple-background {background-color:#7b34a9}
.royal-background {background-color:#5a34a0}
.plum-background {background-color:#540f68}
