body {
	font-family:sans-serif;
	font-size:14px;
}
input {
	border:0;
	background-color:transparent;
	font-family:sans-serif;
	padding:0;
	margin:0;
	outline:none;
	margin-left:-1px;
}
#listEditor {
	font-size: 14px;
	font-family: sans-serif;
	line-height:21px;
	width:381px;
	height:600px;
	display:none;
	position:absolute;
	border:none;
	overflow:hidden;
}
.edit-link {
	z-index:10000
}
.editing li {}
.list {
	margin-left:0;
	list-style:none
}
.column {
	min-height:100px;
}
.placeholder {
	background-color:#eef;
	margin-left:0;
	list-style:none;
	margin-bottom:20px;
}

li .handle {
	position:absolute;
	left:12px;
	cursor:move;
}

/* button css based off of web designer wall*/
.button {
	display: inline-block;
	zoom: 1,
	*display: inline;
	vertical-align:baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight:bold;
	color:#fff;
	font-size:18px;
	padding: .3em 1em .35em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position:relative;
	top:1px;
}

.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}

.blue {
	color: #fff;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.blue:active {
	background: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top, #0078a5, #00adee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* end buttons */
.add-button {
	text-align:center;
	display:none;
}
.hover .add-button {
	display:block;
}
h1 {
	font-family: Georgia, serif;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.2em
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:17px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.4em;
	color:#444;
}
.header {
	background-color:#333;
	color:#65c630;
	height:30px;
	font-size:18px;
	margin-bottom:5px;
}
.menu {
	padding:3px 0px  3px 15px;
	float:left;
	font-family: Georgia, serif;
	font-size:20px;
}
.status {
	padding:3px;
	float: right
}
.marked div {
	text-decoration:line-through
}
li span {
	-moz-user-select: none;
	-webkit-user-select: none;
}
