html {height:100%}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:17px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.4em;
	color:#fff;
  padding:0;
  margin:0;
}

a {border:none}
div[contenteditable=true] {outline:none}

.editing li {}
.list {
  text-shadow: #000 1px 1px 6px;
}
.list ul, .list ol {
  margin: auto;
  max-width:500px;
  width:100%;
}


.list ul {list-style:disc;}
.list ol {list-style:decimal;}
.list li div {display:inline;left-5px}
.list li {
	font-family: 'Overlock', serif;
  font-size: 25px;
  line-height:28px;
}

.list h1 {
  font-family: 'Spinnaker', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.2em;
  text-align:center;
  border:1px solid #fff;
  border-width: 0px 0px 1px 0px;
  padding-bottom:5px;
  max-width:500px;
  width:100%;
  margin:30px auto 15px auto;
}

.placeholder {
	background-color:#eef;
	margin-left:0;
	list-style:none;
	margin-bottom:20px;
}

.handle {
	position:absolute;
	margin-left:-25px;
	cursor:pointer;
}

/* button css based off of web designer wall*/
.button {
	display: inline-block;
	zoom: 1,
	*display: inline;
	vertical-align:baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight:bold;
	color:#fff;
	font-size:18px;
	padding: .3em 1em .35em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position:relative;
	top:1px;
}

.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	color:#fff !important;
	font-size:11px;
	padding: 0.1em .5em;
}

.blue {
	color: #fff;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.blue:active {
	background: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top, #0078a5, #00adee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* end buttons */
.add-button {
	text-align:center;
	display:none;
}
.hover .add-button {
	display:block;
}

.header {
	background-color:#333;
	color:#65c630;
	height:30px;
	font-size:18px;
	margin-bottom:5px;
}


.marked div {
	text-decoration:line-through
}
li span {
	-moz-user-select: none;
	-webkit-user-select: none;
}

.auto-save {
	color:#65c630;
    text-decoration:none;
    display:inline
}

.bg1 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_003.gif) center top repeat;
}
.bg2 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_049.gif) center top repeat;
}
.bg3 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_053.gif) center top repeat;
}
.bg4 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_062.gif) center top repeat;
}
.bg5 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_101.gif) center top repeat;
}
.bg6 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_105.gif) center top repeat;
}
.bg7 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_113.gif) center top repeat;
}
.bg8 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_123.gif) center top repeat;
}
.bg9 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_127.gif) center top repeat;
}
.bg10 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_136.gif) center top repeat;
}
.bg11 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_149.gif) center top repeat;
}
.bg12 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%) no-repeat,url(/static/images/pattern_156.gif) center top repeat;
}
.bg13 {
  background: -webkit-radial-gradient(50% 30%, ellipse farthest-corner, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 100%),url(/static/images/pattern_157.gif) center top repeat;
}
