<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='reset.css') }}" type='text/css' media='screen' />
		<link rel='stylesheet' href="{{ url_for('static', filename='text.css') }}" type='text/css' media='screen' />
		<link rel='stylesheet' href="{{ url_for('static', filename='960.css') }}" type='text/css' media='screen' />
		<link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}" type='text/css' media='screen' />
	</head>
	<body>
		<div class="header">
			<div class="menu">
				Vimes
			</div>
			<div class="status">
			</div>
		</div>
		<div class="container_12 workarea">
            {% block body %}{% endblock %}
        </div>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js'></script>
        {% block scripts %}{% endblock %}
	</body>
</html>
