{% extends 'base.html' %}
{% block body %}
    {% block list %}{% endblock %}
{% endblock %}
{% block scripts %}
<div id="toolbar">
    <ul>
        <li id="color-button"><a href="#">Colors</a>
            <ul id="color-selector">
                <li class="color-swatch red-background"></li>
                <li class="color-swatch seagreen-background"></li>
                <li class="color-swatch green2-background"></li>
                <li class="color-swatch midnight-background"></li>
                <li class="color-swatch purple-background"></li>

                <li class="color-swatch orange-background"></li>
                <li class="color-swatch pine-background"></li>
                <li class="color-swatch seafoam-background"></li>
                <li class="color-swatch blue-background"></li>
                <li class="color-swatch royal-background"></li>

                <li class="color-swatch yellow-background"></li>
                <li class="color-swatch green-background"></li>
                <li class="color-swatch turquoise-background"></li>
                <li class="color-swatch lightblue-background"></li>
                <li class="color-swatch plum-background"></li>
                <li class="color-input"><input type='text'><a id="set-color" class="button blue small">Set</a></li>
            </ul>
        
        </li>
        <li id="delete-button"><a href="#">Remove</a></li>
    </ul>
</div>
<script type='text/javascript' src='{{ url_for('static', filename='vimes.js') }}'></script>
{% endblock %}
