{% extends 'edit.html' %}
{% block title %} A List Page! {% endblock %}
{% block list %}

{% for column_idx in column_list %}
{% set column = columns[column_idx] %}
<div class="fourcol {% if loop.last %}last{% endif %}">
    <ul class="column column-{{loop.index}}">
        {% for list_idx in column %}
        {% set list = column[list_idx] %}
        <li class="list {% if list.cls %}{{list.cls}}{% endif %}">
            <h1>{{list.header}}</h1>
            <{{list.type}}>
                {% for item in list['items'] %}<li>{{item}}</li>
                {% endfor %}
            </{{list.type}}>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}
