{% extends 'edit.html' %}
{% block title %} Vimes: New List  {% endblock %}
{% block list  %}
<div class="grid_4">
    <ul class="column column-1">
        <li class="list">
            <h1>How to use</h1>
            <ol>
                <li>Click on any item or header to edit</li>
                <li>When editing press enter to create a new item</li>
                <li>Use the up and down arrows to navigate the list</li>
                <li>Click an item bullet to cross out an item</li>
                <li>Double click an item to delete</li>
                <li>Click and drag an item bullet to reorder</li>
                <li>Click and drag a list header to rearrange lists</li>
                <li>Delete all text to remove an item (Press Ctrl+A and then Delete)</li>
            </ol>
        </li>
    </ul>
</div>
<div class="grid_4">
    <ul class="column column-2">
        <li class="list">
            <h1>Welcome to Vimes</h1>
            <ul>
                <li>Welcome to vimes!</li>
                <li>A simple list manager</li>
                <li>Feel free to start deleting and adding things</li>
            <ul>
        </li>
    </ul>
</div>
<div class="grid_4">
    <ul class="column column-3">
    </ul>
</div>
{% endblock %}
