{% extends 'base.html' %}
{% block title %} Vimes: Welcome! {% endblock %}
{% block body  %}
<div class="list">
  <h1>Welcome to Vimes</h1>
  <ul class="form">
    <li>Vimes is a simple list creator. It has humble goals, and so it
    lives in a world where one list per page is perfect enough. Lists
    can be sorted, marked, deleted and of course edited to your whimsy.
    Its main function is to be simple and look nice.
    <li>Vimes uses jQuery, Python, and Flask to work its magic.
    <li><a href="/login/">Login to get started</a>
  </ul>
</div>
{% endblock %}
